<table class="table table-bordered table-hover autowidth">
  <tr>
    <th><%= t('attributes.name')%>:</th>
    <td><%= @role.name %></td>
  </tr>
</table>

<h2> Zuordnungen zu dieser Rolle </h2>
<%= render :partial => 'role_authorities',
           :locals => {:authorities => @role.authorities} %>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
</div>
