<h2><%= t('attributes.role')%>: <%= @role.name %></h2>

<h3> Zuordnungen zu dieser Rolle </h3>

<div id="role_authorities">
  <%= render :partial => 'role_authorities',
             :locals => {:authorities => @role.authorities} %>
</div>

<div class="btn-toolbar" role="toolbar">
  <%= back_link %>
</div>
