<ul class="nav navbar-nav">
  <% if can? :navigate, Post %>
    <li class="<%= active_class('posts') %>">
      <%= link_to t('controller.posts'), main_app.posts_path %>
    </li>
  <% end %>
  <% if can? :navigate, Category %>
    <li class="<%= active_class('categories') %>"> 
      <%= link_to t('controller.categories'), main_app.categories_path %>
    </li>
  <% end %>
</ul>
