<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="glyphicon glyphicon-user"></span>
      <% if user_signed_in? %>
	Account
      <% else %>
	Login
      <% end %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <% unless user_signed_in? %>
	<% if Wobauth.remote_authentication? %>
	  <li><%= link_to "Single-Sign-On", wobauth.login_path -%></li>
	<% end %>
	<li><%= link_to "Login-Formular", wobauth.new_user_session_path -%></li>
      <% else %>
        <li><%= link_to "Ausloggen", wobauth.destroy_user_session_path, method: :delete %></li>
        <% if Wobauth::User.devise_modules.include?(:registerable) %>
          <li class="divider"></li>
          <li><%= link_to "Mein Profil", wobauth.edit_user_registration_path %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>
