<% if Wobauth::AdminAbility.new(current_user).can? :navigate, Wobauth::User %>
  <ul class="navbar-nav">
    <li class="nav-item dropdown <%= admin_active_class %>">
      <a href="#" class="nav-link dropdown-toggle" role="button" id="adminNavDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin</a>
      <div class="dropdown-menu" aria-labelledby="adminNavDropdown">
        <% ['users', 'groups', 'memberships', 'roles', 'authorities'].each do |ctrlr| %>
          <%=link_to t('controller.wobauth/' + ctrlr), wobauth.send("#{ctrlr}_path"), class: "dropdown-item"%>
    <% end %>
      </div>
    </li>
  </ul>
<% end %>
